{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "markup",
                    "java"
                ],
                "plugins": [
                    "line-numbers",
                    "copy-to-clipboard",
                ],
                "theme": "default",
                "css": true
            }
        ]
    ]
}