.l_box{
    width: 670px;
}

.r_box{
    width: 300px;
}


.l_box h2{
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
    border-bottom: #db6d4c 4px solid;
    text-align: left;
    margin-top: 15px;
}

.tit01 h3{
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
    text-align: left;
}

.smile_rank{
    text-align: left;
    margin: 10px 0;
    
}

.smile_rank li {
    height: 25px;
    line-height: 25px;
    clear: both;
    overflow: hidden;
    padding-left: 15px;
    background: url(../../img/li.jpg) no-repeat left center;
}


.links {
    width: 100%;
    overflow: hidden;
    clear: both;
}

.links h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.links ul {
    background: #fff;
    padding: 10px;
    overflow: hidden;
    border: #e9e9e9 1px solid;
}

.links ul li {
    float: left;
    padding: 5px 8px;
    list-style: none;
}